@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    margin: 0;
    padding: 0;
    background: rgb(14, 124, 0);
}
.block-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navigation-div{
    .main-header{
        width: calc(90% - 10px);
        text-align: center;
        font-size: 2.1em;
        font-family: "Bebas Neue",sans-serif;
        padding: 5px;
        letter-spacing: 0.1em;
        margin-bottom: 40px;
    }
    .btns-container{
        width: calc(80% - 20px);
        padding: 10px;
        text-align: center;
        position: relative;
        top: 10vh;
        .choosing-button{
            display: inline-block;
            margin: 0px 4px;
            font-size: 1.3em;
            font-family: "Oswald",sans-serif;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            transition: all 0.4s;
            background: rgba(0, 255, 0, 0.9);
        }
        .choosing-button:hover{
            filter: brightness(70%);
        }
    }
}